body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

header {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: lavender;
 }
 
 ul {
  display: flex;
  list-style: none;
  padding-right: 15px;

 }
 
 li {
  padding: 5px;
 
  
 }

 a{
   text-decoration: none;
   color: #0d6efd;
   text-transform: uppercase;
 }

